.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: .5fr 3fr 1fr;
  grid-template-rows: 1fr .5fr 8fr;
  grid-template-areas: 
  "nav toolbar toolbar toolbar"
  "nav content content content"
  "nav content content content"
  "nav content content content"
  ;
}

